
<div>
<%= @game.player1.name %> vs. <%= @game.player2.name %>
</div>
<div> <p> </p> </div>
<div>
<%= @game.current_turn.name %>'s turn.
</div>

<div> <p> </p> </div>
<div>
<%= @game.player2.name %>'s hit points <%= @game.player2.health %>
</div>
<div>
<%= @game.player1.name %>'s hit points <%= @game.player1.health %>
</div>


<div>
<form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
